.settings-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #24292e;
    color: white;
    height: 707px;

    .settings {
        display: flex;
        gap: 48px;

        .setting-section {
            display: flex;
            flex-direction: column;
            width: 50vw;
            gap: 24px;
            padding: 20px;
            border-radius: 16px;

            .select-item {
                width: 100%;
                font-size: 1.2rem;
                color: white;
            }

            ::ng-deep .mat-mdc-button-toggle-checked {
                color: black !important;
            }

            ::ng-deep .mat-mdc-button-toggle-checked .mat-button-toggle-label-content {
                color: black !important;
            }


            .input-container {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .start-button {
        border: #5f6368 1px solid;
        font-size: 4rem;
        height: 128px;
        margin-top: 32px;
        color: white;
        background-color: transparent;
        border: 1px #5e6269 solid;
    }
}