.point-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 40px;

    &.is-bust {
        background-color: #d52a2c;
    }

    &.normal {
        background-color: #3b4046;
    }

    .points {
        color: white;
        font-weight: bold;
    }
}

@media (max-width: 767px) {
    .point-display {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42.67px;
        height: 26.67px;
    }
}