.game-info-container {
    display: flex;
    justify-content: space-around;
    background-color: #2e343a;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 767px) {
    .game-info-container {
        display: flex;
        justify-content: space-around;
        background-color: #2e343a;
        padding: 8px 10.67px;
        font-size: 0.8rem;
        font-weight: bold;
    }
}

@media (min-width: 767px) {
    .game-info-container {
        display: flex;
        justify-content: space-around;
        width: 450px;
        height: 16px;
        background-color: #2e343a;
        padding: 8px 10.67px;
        font-size: 0.8rem;
        font-weight: bold;
    }
}