.app-container {
  display: flex;
  flex-direction: column;

  background-color: #24292e;

  .app-header {
    height: 10vh;
  }

  .app-content {
    height: 90vh;
  }
}

@media (min-width: 767px) {
  .app-container {
    overflow: hidden;
  }
}

