.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #24292e;
  border-radius: 4px;
  padding: 16px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .header {
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    font-size: 1.5rem;

    color: white;
  }

  .footer {
    display: flex;
    gap: 12px;
  }
}

@media (max-width: 767px) {
  .modal {
    padding: 32px;
    align-items: center;

    height: 100vh;
    width: 100vw;

    .header {
      display: flex;
      align-items: flex-start;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 768px) {
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #24292e;
    border-radius: 4px;
    padding: 16px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .header {
      display: flex;
      align-items: flex-start;
      font-weight: bold;
      font-size: 1.5rem;

      color: white;
    }

    .footer {
      margin-left: auto;
      margin-top: auto;
    }
  }
}
