.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #24292e;
  border-radius: 4px;
  padding: 16px;
  gap: 16px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .header {
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 32px;

    color: white;
  }

  .content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    font-size: large;

    padding: 32px;
    background-color: #2e343a;

    .content-titel {
      display: flex;
      justify-content: space-between;

      .date {
        color: white;
        font-weight: bold;
      }

      .finished {
        color: #2FD159;
        font-weight: bold;
      }
    }

    .player-stats-container {
      display: flex;
      flex-direction: column;
      padding-top: 16px;
      gap: 8px;

      .grey-text {
        color: lightgray;
      }

      .important-text {
        color: white;
      }

      .single-player-stats {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .individual-stats {
          display: flex;
          gap: 8px;
        }

        .individual-points {
          display: flex;
          margin-top: 4px;
          justify-content: space-between;
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: lightgray;
        margin-bottom: 8px;
      }
    }

    .game-settings {
        padding-top: 16px;
        color: lightgray;
    }
  }

  .footer {
    display: flex;
    gap: 12px;
  }
}

@media (max-width: 767px) {
  .modal {
    padding: 32px;
    align-items: center;

    height: 100vh;
    width: 100vw;

    .header {
      display: flex;
      align-items: flex-start;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 768px) {
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #24292e;
    border-radius: 4px;
    padding: 16px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .header {
      display: flex;
      align-items: flex-start;
      font-weight: bold;
      font-size: 1.5rem;

      color: white;
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 436;
      max-height: 300px;
      overflow: scroll;
      font-size: large;

      padding: 32px;
      background-color: #2e343a;

      .content-titel {
        display: flex;
        justify-content: space-between;

        .date {
          color: white;
          font-weight: bold;
        }

        .finished {
          color: #2FD159;
          font-weight: bold;
        }
      }

      .player-stats-container {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        gap: 8px;

        .grey-text {
          color: lightgray;
        }

        .important-text {
          color: white;
        }

        .single-player-stats {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .individual-stats {
            display: flex;
            gap: 8px;
          }

          .individual-points {
            display: flex;
            margin-top: 4px;
            justify-content: space-between;
          }
        }

        .divider {
          width: 436px;
          height: 1px;
          background-color: lightgray;
          margin-bottom: 8px;
        }
      }

      .game-settings {
          padding-top: 16px;
          color: lightgray;
      }
    }

    .footer {
      margin-left: auto;
      margin-top: auto;
    }
  }
}